<header>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-3">
                <div class="logo-container">
                    <h2 class="logo"> InstaPic </h2>
                        <div class="icon-ig">
                            <i class="bi bi-instagram"></i>
                        </div>
                </div>
                <form action="#" class="search-bar">
                    <input type="text" placeholder="Buscar...">
                    <button type="submit"><i class="bi bi-search"></i></button>
                </form>
            </div>
            <div class="col-md-9 col-sm-9 col-9 text-end">
                <nav class="navigation">
                    <a href="#"><i class="bi bi-house-door-fill"></i></a>
                    <a href="#"><i class="bi bi-chat-dots-fill"></i></a>
                    <a href="#"><i class="bi bi-people-fill"></i></a>
                    <a href="#"><i class="bi bi-heart-fill"></i></a>
                    <button class="btnLogin-popup">Cerrar Sesión</button>
                </nav>
            </div>
        </div>
    </div>    
</header>